*
{
    margin: 0;
    padding: 0;
}

html,
body
{
  width: 100%;
  height: 100%;
  
  background: #11e8bb; /* Old browsers */
  background: -moz-linear-gradient(top,  #10113a 0%, #04040e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #10113a 0%,#04040e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #10113a 0%,#04040e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11e8bb', endColorstr='#8200c9',GradientType=0 ); /* IE6-9 */
  overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


#enterButton {
    float:left;
    position: absolute;
    top: 8%;
    left: 24px;
    transform: translate(-50%, -50%);
    padding: 7px 7px;
    border: 1px solid #26274c;
    background-color: transparent;
    color: #c5c1ce;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 10px;
  }
  @media (hover: hover){
  #enterButton:hover {
    border-color: #c69fbe;
    background-color: transparent;
    cursor:pointer;
  }
}


  #matteButton {
    float:center;
    position: absolute;
    top: 8%;
    left: 96px;
    transform: translate(-50%, -50%);
    padding: 8px 7px;
    border: 1px solid #26274c;
    background-color: transparent;
    color: #c5c1ce;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 10px;

  }

  #matteButton:hover {
    border-color: #c69fbe71;
    color: #c69fbe;
    background-color: transparent;
    cursor:pointer;

  }

  #fridaButton {
    float:right;
    position: absolute;
    top: 8%;
    left: 204px;
    transform: translate(-50%, -50%);
    padding: 8px 7px;
    border: 1px solid #26274c;
    background-color: transparent;
    color: #c5c1ce;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 10px;

  }

  #fridaButton:hover {
    /* border-color: #141424; */
    border-color: #c69fbe71;
    color: #c69fbe;
    background-color: transparent;
    cursor:pointer;

  }

  .hidden {
    display: none;
  }